name: Build Flutter Web

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.2"

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: flutter build web --release

      - name: Deploy to Frontend Repo
        run: |
          git config --global user.email "ci-bot@example.com"
          git config --global user.name "CI Bot"

          # clone repo tujuan (PAKAI SECRET, JANGAN PAKAI TOKEN LANGSUNG)
          git clone https://x-access-token:${{ secrets.FRONTEND_REPO_TOKEN }}@github.com/HaikalTaufiq/hris-kreasii.git

          rm -rf hris-kreasii/*
          cp -r build/web/* hris-kreasii/
          cd hris-kreasii
          git add .
          git diff-index --quiet HEAD || git commit -m "Deploy from Repo A at $(date)"
          git push origin main
